body {
    background-color: lightsteelblue;


}
.container {
    width: 900px;
    background-color: cornflowerblue;
    margin:auto;
    padding:10px;
}
.logo {
    background-image: url("https://st2.depositphotos.com/3096625/8379/v/600/depositphotos_83792086-stock-illustration-t-white-letter-logo.jpg");
width:120px;
    height:100px;
    background-position: center;
    background-size:200px;
}
.flex {
    display: flex;
}
.space-btw {
    justify-content: space-between;
}
.align-c {
    justify-content: center;
}
.align-end {
    align-items: end;
}
p {
    font-family: 'Quicksand', sans-serif;
}
header {
    margin-bottom:40px;
}
aside {
    float:left;
    background-color: dodgerblue;
    padding: 15px;
    margin-right:15px;

}
a {
    text-decoration: none;
    border-bottom: 1px solid white;
    color:black;
    /*margin-left:40px;*/
    margin-right:70px;
    }
.face {
    background-image: url("https://preview.free3d.com/img/2017/04/2145908520938112498/goonn9d1-900.jpg");
    width:200px;
    height:200px;
    background-position: center;
    background-size:270px;
    margin-bottom: 60px;
}
section {
   padding:8%;
}
article {
margin-top:10px;
}
.opa50 {
    opacity: 50%;
}
footer {
    background-color: black;
color: lightgray;
    padding:5px;
    opacity: 70%;
}
.fa-clock {
    color:darkred;
}
aside h5 {
    margin:0;
    font-family: 'Oswald', sans-serif;
    }
aside i {
    transform: rotate(90deg);
    margin-right:-3px;
}
nav {
    font-family: 'Gemunu Libre', sans-serif;
}