.flex {display: flex;}
.column {flex-direction: column;}
.gr1 {flex-grow: 1;}
.gr2 {flex-grow:2;}
body {
    width:100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;

}
.main {
    width:80vw;
    height:90vh;
    background-color: gray;
    margin:50px;
}

.one{background-color: yellow;}
.two{background-color: green;}
.three{background-color: red;}
.four{background-color: cornflowerblue;}
.five{background-color: blueviolet;}
.six{background-color: white;}

@media (max-width: 600px) {
    .one{background-color: yellow;}
    .two{background-color: green;}
    .three{display: none;}
    .maxcolumn{flex-direction: column;}
    .four{background-color: cornflowerblue;
        flex-grow: 1;    }
    .maxnocolumn {flex-direction: unset; flex-grow: 1;}



    .five{background-color: blueviolet; order: 1;

    }
    .six{background-color: white; order: -1;

    }
}

