body {
    margin:0;
}
/*flex stuff*/
.flex-wrap { flex-wrap: wrap;
}
.d-flex {
    display: flex;
}
.j-center {
    justify-content: center;
}
.space-btw {
    justify-content: space-between;
}
.flex1 {
    flex: 1;
}
.flex4 {
    flex:4;
}
.container {
    width:900px;
    display: grid;
    background-color: orangered;
    grid-template-columns: 600px 300px;
    grid-template-rows: 50px 250px auto;
    grid-template-areas:
"toolbar toolbar"
"header header"
"main sidebar";
}
/*CUSTOM CLASSES*/
.toolbar {
grid-area:toolbar;
}
.header {
    grid-area:header;
}
.main {
    grid-area:main;
}
.sidebar {
    grid-area:sidebar;
}
/*paddings margins*/
.p-30 {
    padding:30px;
}
.mt-20 {
    margin-top:20px;
}
.plr-20 {
    padding:0 20px;
}
.pl-20 {
    padding-left:20px;
}

.sidebar {
    background-color: blueviolet;
}
.img {
    height: 360px;
    width: 360px;
    background-color: green;
}
.smallimg {
background-color: azure;
}
.d-none {
    display: none;
}
.card {
    width:200px;
    margin-right: 15px;
}
@media (max-width: 700px) {
    .container {
        width:100%;


        grid-template-columns: 3fr 1fr;
        grid-template-rows: 50px 250px auto;
        grid-template-areas:
"toolbar toolbar"
"header header"
"main main";
    }
    .d-sm-none {
        display: none;
}
    .card {
        display: flex;
        width:100%;
    }
    .card >img {
        flex:2;
        height: 100%;
        width: 100%;
    }
    .card >p {
        flex:3;
    }
    .img-small {
        width:150px;
        height: 150px;
    }
    .sm-column {
        flex-direction: column;
    }
    .flex-sm-1 {
        flex:1;
    }
    .flex-sm-4 {
        flex:4;
    }
    /*.sidebar {*/
    /*    display: none;*/
    /*}*/
    /*.d-none {*/
    /*    display: unset;*/
    /*}*/
    /*.sm-column {*/
    /*    flex-direction: column;*/
    /*}*/
    /*.sm-order1 {*/
    /*    order:1;*/
    /*}*/
}