.board  {
    background-color: green;
    width:100%;
    height:100%;
}
.player {
    background-color: #d0d0d0;
}
.pc {
    background-color: #53726c;
}
img {
    width:70px;
}
.result {
    color:white;
    font-weight: bold;
}